{% extends 'layouts/form.html' %}

{% block title %}Comment for {{ form.stop_name }}{% endblock %}

{% block content %}
    <form method="post" class="form">
        <h3 class="form-heading">
            {% if form.stop_name %}
                You selected <strong>{{form.stop_name}}</strong>
            {% endif %}
        </h3>

        {{ form.hidden_tag() }}

        {# -- they don't want this anymore #}
        {#
          <p>{{ form.freeway_ramps }} {{ form.freeway_ramps.label }}</p>
          <p>{{ form.sidewalk_poor }} {{ form.sidewalk_poor.label }}</p>
          <p>{{ form.poor_crosswalks }} {{ form.poor_crosswalks.label }}</p>
          <p>{{ form.not_safe }} {{ form.not_safe.label }}</p>
          <p>{{ form.vehicle_speed }} {{ form.vehicle_speed.label }}</p>
          <p>{{ form.poor_lighting }} {{ form.poor_lighting.label }}</p>
          <p>{{ form.poor_signage }} {{ form.poor_signage.label }}</p>
          <p>{{ form.no_enforcement }} {{ form.no_enforcement.label }}</p>
          <p>{{ form.no_shade }} {{ form.no_shade.label }}</p>
          <p>{{ form.personal_safety }} {{ form.personal_safety.label }}</p>
          <p>{{ form.too_far }} {{ form.too_far.label }}</p>
          <p>{{ form.bad_drivers }} {{ form.bad_drivers.label }}</p>
          <p>{{ form.no_facilities }} {{ form.no_facilities.label }}</p>
          <p>{{ form.other }} {{ form.other.label }}</p>
        #}

        <input type="hidden" name="stop_id" value="{{ form.stop_id }}">
        <input type="hidden" name="stop_name" value="{{ form.stop_name }}">

        <hr />

        <input type="submit" value="Record comment">
    </form>

{% endblock %}


<!--
    freeway_ramps = BooleanField('Freeway Ramps', default=False)
    sidewalk_poor = BooleanField('Poor sidewalk conditions or lack of sidewalk', default=False)
    poor_crosswalks = BooleanField('Poor crosswalks or lack of crosswalks', default=False)
    not_safe = BooleanField('No safe place to bicycle', default=False)
    vehicle_speed = BooleanField('Vehicle speed and traffic (due to freeway ramps)', default=False)
    poor_lighting = BooleanField('Poor lighting', default=False)
    poor_signage = BooleanField('Poor signage or lack of crosswalks', default=False)
    no_enforcement = BooleanField('Lack of enforcement of traffic violations', default=False)
    no_shade = BooleanField('No shade', default=False)
    personal_safety = BooleanField('Personal safety concerns', default=False)
    too_far = BooleanField('Destinations are too far away', default=False)
    bad_drivers = BooleanField('Bad driver behaviors', default=False)
    no_facilities = BooleanField('Lack of worksite facilities (for example, showers or lockers)', default=False)
    other = BooleanField('Other challenges not listed above', default=False)
 -->
